[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "==1.3.1"
asgi-redis = "==1.4.3"
asgiref = "==3.2.3"
async-timeout = "==3.0.1"
attrs = "==19.3.0"
autobahn = "==20.2.2"
automat = "==20.2.0"
certifi = "==2019.11.28"
cffi = "==1.14.0"
channels = "==2.4.0"
channels-redis = "==2.4.2"
cloudinary = "==1.19.1"
constantly = "==15.1.0"
cryptography = "==2.8"
daphne = "==2.4.1"
dj-database-url = "==0.5.0"
django = "==3.0.1"
django-heroku = "==0.3.1"
django-redis = "==4.11.0"
django-tinymce = "==2.8.0"
gunicorn = "==20.0.4"
hiredis = "==1.0.1"
hyperlink = "==19.0.0"
idna = "==2.9"
incremental = "==17.5.0"
Markdown = "==3.1.1"
mock = "==4.0.0"
msgpack = "==0.6.2"
msgpack-python = "==0.5.6"
pillow = "==6.2.1"
psycopg2-binary = "==2.8.5"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.19"
pyhamcrest = "==2.0.0"
pyopenssl = "==19.1.0"
python-decouple = "==3.3"
pytz = "==2019.3"
redis = "==2.10.6"
service-identity = "==18.1.0"
six = "==1.14.0"
sqlparse = "==0.3.0"
twisted = "==19.10.0"
txaio = "==20.1.1"
urllib3 = "==1.25.8"
whitenoise = "==5.0.1"
"zope.interface" = "==4.7.1"

[dev-packages]

[requires]
python_version = "3.8"
