<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}People Shaping People{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="https://res.cloudinary.com/people-shaping-people/image/upload/v1588535143/static/login/images/icons/favicon_nnsokg.ico"/>
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535148/static/login/vendor/bootstrap/css/bootstrap.min_akmbg2.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535128/static/login/fonts/font-awesome-4.7.0/css/font-awesome.min_k3aafz.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535144/static/login/vendor/animate/animate_bbmwmn.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535150/static/login/vendor/css-hamburgers/hamburgers.min_ldbewa.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535144/static/login/vendor/animsition/css/animsition.min_w0g5ow.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535153/static/login/vendor/select2/select2.min_hdwhl2.css">	
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535150/static/login/vendor/daterangepicker/daterangepicker_jxz1o0.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535128/static/login/css/util_ozkcwo.css">
	<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535127/static/login/css/main_thmiue.css">
	{% block headerlinks %}{% endblock headerlinks%}
</head>
{% block style %}{% endblock %}

<body>
	 {% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
					{% block boxtitle %}
						Sign In
					{% endblock %}
					</span>
				</div>

{% comment %} error message element {% endcomment %}
		{% if messages.success %}
			<ul class="messages">
				{% for msg in messages %}
					<li>
						<div class="alert alert-{{msg.level_tag}}" role="alert">
							{{msg.message}}
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
			{% for error in form.non_field_errors %}
				{{ error }}
			{% endfor %}
			</div>
  		{% endif %}


		{% block boxcontent %}
				<form class="login100-form " method="POST" action="">
				{% csrf_token %}
				
					<div class="wrap-input100 validate-input m-b-26 form-group" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100 form-control" type="text" name="username" placeholder="Enter username" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18 form-group" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100 form-control" type="password" name="password" placeholder="Enter password" required>
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">

						<div>
							<a href="{% url 'password_reset' %}" class="txt1">
								Forgot Password?
							</a>

						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					<p style="margin-left: 78px;">Or</P>

					<div class="container-login100-form-btn">
						<a href="{% url 'signup' %}" class="btn btn-sm txt1">
								Create New Account
						</a>
					</div>
				</form>

		{% endblock %}
			</div>
		</div>
	</div>
	
	{% endblock content %}


	<!-- Java Script
    ================================================== -->
	
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535152/static/login/vendor/jquery/jquery-3.2.1.min_ecsbes.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535145/static/login/vendor/animsition/js/animsition.min_eizsne.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535149/static/login/vendor/bootstrap/js/popper.min_zj0xet.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535149/static/login/vendor/bootstrap/js/bootstrap.min_xgmonj.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535153/static/login/vendor/select2/select2.min_hdwhl2.css"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535151/static/login/vendor/daterangepicker/moment.min_ze3fsd.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535151/static/login/vendor/daterangepicker/daterangepicker_td2aul.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535150/static/login/vendor/countdowntime/countdowntime_unprn7.js"></script>
	<script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535144/static/login/js/main_hqaq8k.js"></script>
	{% block Javascript %}{% endblock Javascript %}

</body>
</html>