{% extends 'registration/login.html' %}

{% block style %}
<style>
    .reset_paragraph{
        padding: 20px;
    }
</style>
{% endblock %}

{% block boxtitle %}
    Password Reset 
{% endblock %}

{% block boxcontent %}
    <div>
            <p class="reset_paragraph">
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
    </div>
    <div>
            <p class="reset_paragraph">
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
    </div>
    <div>
        <p class="reset_paragraph">
                Return to <a href="{% url 'home' %}">Home</a>
            </p>
    </div>
{% endblock %}

    

    