{% extends 'registration/login.html' %}
{% load static %}

{% block style %}
    <style>
    #id_email{
    backgound: blue;
    }
    </style>
{% endblock %}


{% block boxtitle %}
    Forgot password
{% endblock %}

{% block boxcontent %}


<form class="login100-form " method="POST" action="">
    {% csrf_token %}
    
        <div class="wrap-input100 validate-input m-b-26 form-group" data-validate="email is required">
            <span class="label-input100">Email</span>
            <input class="input100 form-control" type="email" name="email" id="id_email" placeholder="abcdef@gmail.com" required>
            <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Submit
            </button>
        </div>
</form>


{% endblock %}