{% extends 'registration/login.html' %}

{% block style %}
<style>
    li{
        font-family: Poppins-Regular;
        font-size: 15px;
        color: black;
        line-height: 1.2;
        padding: 5px;
    }
    .reset_paragraph{
        padding: 20px;
    }
</style>
{% endblock %}

{% block boxtitle %}
    {% if validlink %}
        Change password
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block boxcontent %}

    {% if validlink %}

    <form class="login100-form " method="POST" action="">
    {% csrf_token %}
            <div class="wrap-input100 validate-input m-b-26 form-group" data-validate="enter password">
                <span class="label-input100">New password</span>
                <input class="input100 form-control" type="password" name="new_password1" id="id_new_password1" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-26 form-group" data-validate="enter password">
                <span class="label-input100">New password confirmation</span>
                <input class="input100 form-control" type="password" name="new_password2" id="id_new_password2" required>
                <span class="focus-input100"></span>
            </div>
            <ol class="password_reset_txt">
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ol>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit">
                    Change Password
                </button>
            </div>
    </form>

    {% else %}
    
        <p class="reset_paragraph">
        The password reset link was invalid, possibly because it has already been used.
        Please reqssuest a new password reset.
        </p>
        <p class="reset_paragraph">
            <a style="color: #8BC34A;" href="{% url 'password_reset' %}" >Resend</a>
        </p>
    {% endif %}
    
{% endblock %}

