{% extends 'base.html' %}
{% load static %}


{% block headerlinks %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block style %}
.messaging{
	margin-top: 65px;
}
{% endblock %}



{% block content %}

<div class="messaging">
  <div class="inbox_msg">
  	<!--start of conversation list sidebar-->
	<div class="inbox_people">
	  <div class="headind_srch">
		<div class="recent_heading">
		  <h4>Messages</h4>
		</div>
	  </div>

	  <div class="inbox_chat scroll">
		{% comment %} <div class="chat_list active_chat">
		  <div class="chat_people">
			<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
			<div class="chat_ib">
			  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
			  <p>Test, which is a new approach to have all solutions 
				astrology under one roof.</p>
			</div>
		  </div>
		</div> {% endcomment %}

		{% for user in conv_partners %}

		<div class="chat_list chat_list_{{ user.pk }}" user-pk="{{ user.pk }}">
		  <div class="chat_people">
			{% if user.userprofile.profile_pic %}
				<div class="chat_img"> <img src="{% static 'images/face.png' %}" alt="sunil"> </div>
			{% else %}
				<div class="chat_img" > <img class="chat_img_{{ user.pk }}" src="{% static 'images/face.png' %}" alt="sunil"> </div>
			{% endif %}
			<div class="chat_ib">
			  <h5>
			  <a class="con_fullname" style="color:black;" href="#" data-href="{% url 'conversation_url' %}" pkey={{ user.pk }}
			  	username = {{ user.username }} image-url="{% static 'images/face.png' %}">
			  	 {{ user.first_name }} {{ user.last_name }}
			  </a>
			  	<span class="chat_date">
			  		<span class="badge badge-primary badge-pill">1</span>
				</span></h5>
			  <p>Click to view conversation</p>
			</div>
		  </div>
		</div>
		{% endfor %}

	  </div>
	</div>
	<!--end on conversation list sidebar-->

	<!--Start of chat side-->
	<div class="mesgs">
		<div class="msg_history">
			<span class = "initial_display">
				<p>Click on a convesation to begin a chat...</p>
			</span>

			<div class = "chat_div">
				<!--content of this div is manipulated with JavaScript-->

			</div> 
		</div>
		<div class="type_msg" >
			<div class="input_msg_write">
				<form method="Post" class="form" post-href="{% url 'msg_post_url' %}">
					{% csrf_token %}
					<input id="id_content" type="text" class="write_msg" placeholder="Type a message" />
					<button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				</form>
			</div>
		</div>
		</div>
  	</div>
</div>

{% endblock content %}



{% block javascript %}
<script type="text/javascript"> 
	$('.chat_div').hide()
	$('.type_msg').hide()

	$('.con_fullname').click(function(e){ 
			e.preventDefault();
			$('.chat_div').show()
			$('.initial_display').hide()
			$('.type_msg').show()
			var this_ = $(this)
			var user_pk = this_.attr("pkey");
			var Url = this_.attr("data-href");
			var partner_username = this_.attr("username")
			var partner_image = this_.attr("image-url")
			$('.chat_list').removeClass("active_chat"); 
			$('.chat_list_' + user_pk).addClass("active_chat");
			
			$.ajax({
				url: Url,
				method: "GET",
				data: {
					"user_pk":user_pk,
				},
			success: function(data){
					json_obj = JSON.parse(data)
					$(".chat_div").empty();
					$.each(json_obj, function () {
						var sentmsgHTML = $('<div><div class="incoming_msg_img"> <img src=" ' + partner_image + ' " alt="sunil"> </div> <div class="received_msg"><div class="received_withd_msg"><p>' + this.fields.content + 
											'</p><span class="time_date"> ' + this.fields.sent_at + '</span></div></div> </div>')
						var recievedmsgHTML = $('<div class="outgoing_msg"><div class="sent_msg"><p>' + this.fields.content + '</p><span class="time_date"> ' + this.fields.sent_at + '</span></div></div> ')

						if (this.fields.sender == user_pk) {
								$(".chat_div").append(sentmsgHTML);
							}
						else{
								$(".chat_div").append(recievedmsgHTML);
							}
					});
					var height = parseInt($('.chat_div').height());
					$( ".msg_history" ).scrollTop(height)
			}
			})
	});

	$('.msg_send_btn').click(function(e){ 
			e.preventDefault();
			var message = $("#id_content").val();
			var reciever = $( ".chat_list.active_chat" ).attr("user-pk")
			var partner_image = $( ".chat_list.active_chat" ).children(".chat_people").children('.chat_img').children('img').attr('src')
			if (message.length > 0){
				var postUrl = $(".form").attr('post-href')
			}
			else{
				var postUrl = $(".form").attr('')
			}

			$.ajax({
				url: postUrl,
				method: "POST",
				data: {
					"message": message,
					"reciever_pk": reciever,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function(post_data){
						post_json_obj = JSON.parse(post_data)
						$(".chat_div").empty();
						$.each(post_json_obj, function () {
							var sentmsgHTML = $('<div><div class="incoming_msg_img"> <img src=" ' + partner_image + ' " alt="sunil"> </div> <div class="received_msg"><div class="received_withd_msg"><p>' + this.fields.content + 
												'</p><span class="time_date"> ' + this.fields.sent_at + '</span></div></div> </div>')
							var recievedmsgHTML = $('<div class="outgoing_msg"><div class="sent_msg"><p>' + this.fields.content + '</p><span class="time_date"> ' + this.fields.sent_at + '</span></div></div> ')

							if (this.fields.sender == reciever) {
									$(".chat_div").append(sentmsgHTML);
								}
							else{
									$(".chat_div").append(recievedmsgHTML);
								}
							$('.form').trigger("reset");
							var height = parseInt($('.chat_div').height());
							$( ".msg_history" ).scrollTop(height)
						});
				}
			});
	});
	
</script>


{% endblock javascript %}


 