{% extends 'base.html' %}
{% load static %}

{% block headerlinks %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
{% endblock %}

{% block style %}

body{
    background: white;
}
footer{
    display: none;
}
.profile_section{
    padding-top: 0px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.picture-aside{
    text-align: center;
    background: white;z
}
.profile_pic{
    border-radius: 100%;
    max-width: 70%;
    margin-bottom: 30px;
}
.story_count{
    font-size: -webkit-xxx-large;
}
.story_count_stories{
    font-size: x-large;
    margin-bottom: 0px;
}
.profile_hr{
    margin-top: 0px;
}
.bio_tittle{
    font-weight: 600;
    color: #2f85d9;
}
.stories_title{
    color:#2f85d9;
}
<!--Modal styling-->
.modal-title{
    margin: 0px;
}
 {% endblock %}


{% block content %}

    <section class=" s-content--top-padding s-content--narrow profile_section">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 picture-aside" >
            
            {% if user.userprofile.profile_pic %}
                <img class="profile_pic" src="{{ user.userprofile.profile_pic.url }}" alt="">
            {% else %}
                <img class="profile_pic" src="https://res.cloudinary.com/people-shaping-people/image/upload/v1581157209/Default%20Images/head-659651_1920_tfjm1i.png" alt="">
            {% endif %}
                <p style="color: rgba(0, 0, 0, 0.5);">@{{ user.username }}
                {% if request.user != user %}
                   <a data-toggle="modal" data-target="#Modal" data-whatever="@mdo"> 
                        <i class="fas fa-envelope" style="padding-left:10px;"></i> 
                   </a>
                {% endif %}
                
                {% if user.userprofile.online == True %}
                        <i class="fas fa-circle" style="color: #22f722;font-size: 1rem;"></i><span style="color:">online</span>
                {% else %}
                {% endif %}
                    
                </p>
                
            <h1 class="entry__header-title display-1 " 
                style="margin-bottom: 0px; color: slategrey;">
                    {{ user.first_name }} {{ user.last_name }}
            </h1>
                <ul style="color: rgba(0, 0, 0, 0.5); list-style-type:none; float: left;">
                    <li style="float: left;"><span>
                        <i class="fas fa-map-marker-alt"></i>
                        {{ user.userprofile.nationality }}
                    </span></li>
                    <li style="float: left;"><span>
                        <i class="fas fa-at"></i>
                        {{ user.email }}
                    </span></li>
                    <li style="float: left;"><span>
                        <i class="fas fa-phone"></i>
                        {{ user.userprofile.phone_number }}
                    </span></li>
                </ul>
            {% if user == request.user %}
                <div class="col-12">
                    <a href="{% url 'profile_update' user.pk %}" class=" col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        Edit Profile
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 picture-aside">
            <div>
                <span>
                    <img src="{% static 'images/icons/story.png' %}" alt="icon"/>
                </span>
                <p class="story_count_stories"><span class="story_count">{{ mystory.count }} </span>Stories</p>
                <hr class="profile_hr">    
            </div>
            <div>
                <p>
                    {% if user.userprofile.bio %}
                    <p><span class="bio_tittle">Bio : </span>{{ user.userprofile.bio }}</p>
                        
                    {% endif %}
                </p>
            </div>
            <div style="margin-bottom: 65px;">
                <h2 class="entry__header-title stories_title">Stories</h2>    
                <ul class="list-group">
                    {% for story in mystory %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'story_detail' story.pk %}">{{ story.full_name }}</a>
                            <span class="badge badge-primary badge-pill">{{ story.views }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section> <!-- end s-extra -->

    <!-- CHAT MODAL -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label" style="padding-left: 0px;font-size: 1.6rem;">
                    Recipient: 
                </label>
                <input type="text" class="form-control" id="recipient-name" value="@{{ user.username }}" disabled
                        style="
                                padding-bottom: 0px;
                                padding-top: 0px;
                                height: 50px;
                                padding-left: 10px;
                            ">
            </div>
            <div class="form-group">
                <form method="Post" class="form" post-href="{% url 'msg_post_url' %}">
					{% csrf_token %}
                    <label for="message-text" class="col-form-label" style="padding-left: 0px;font-size: 1.6rem;">Message:</label>
                    <textarea class="form-control" id="id_content" style="font-size: 1.6rem;"></textarea>
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="Submit" class="btn btn-primary btn_submit">Send message</button>
                </form>
        </div>
        </div>
    </div>
    </div>
    <!--end of CHAT MODAL-->

{% endblock content %}

{% block javascript %}

<script>

$('.btn_submit').click(function(e){ 
		e.preventDefault();
        var recipient = {{ user.pk }}
        post_url = "{% url 'msg_profile_post_url' %}"
        var message = $('#id_content').val();

        $.ajax({
				url: post_url,
				method: "POST",
				data: {
					"recipient": recipient,
                    "message": message,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
				},
                success: function(data){
                    console.log(data)
                    if (data.status == 'success'){
				            $("#Modal").modal("hide");                            
			            }   
			        else{
                            $("#Modal").modal("hide");
                            alert("sorry your message was not successfully sent \n try again!!");                            
			            } 
                }
        });
			
});

	</script>

    {% endblock javascript %}
