{% extends 'base.html' %}

{% block headerlinks %}
    <link rel="stylesheet" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588534996/static/css/bootstrap-grid.min_dvchja.css">
    <link href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588534996/static/css/cropper.min_cporwb.css" rel="stylesheet">
    <link href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588534997/static/css/bootstrap.min_sq8nsp.css" rel="stylesheet">
{% endblock %}

 {% block style %}

body{
    background: white;
}
footer{
    display: none;
}
.profile_section{
    padding-top: 0px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.picture-aside{
    text-align: center;
    background: white;z
}
.profile_pic{
    border-radius: 100%;
    max-width: 70%;
    margin-bottom: 30px;
}
.profile_hr{
    margin-top: 0px;
}
.new_story_form{
    margin-top: 30px;
}
.new_story_input{
    margin-bottom: 10px;
}
.editprofile_btn{
    display: none;
}
 {% endblock %}

{% block content %}

    <section class=" s-content--top-padding s-content--narrow profile_section">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 picture-aside">
            <div class="">

            </div>
            <img class="profile_pic"
                src="{{ user.userprofile.profile_pic_url }}" alt="">
                <p style="color: rgba(0, 0, 0, 0.5);">@{{ user.username }}</p>

                

            <h1 class="entry__header-title display-1 " 
                style="margin-bottom: 0px; color: slategrey;">
                    {{ user.first_name }} {{ user.last_name }}
            </h1>
                <ul style="color: rgba(0, 0, 0, 0.5); list-style-type:none; float: left;">
                    <li style="float: left;"><span>
                        <i class="fas fa-map-marker-alt"></i>
                        {{ user.userprofile.nationality }}
                    </span></li>
                    <li style="float: left;"><span>
                        <i class="fas fa-at"></i>
                        {{ user.email }}
                    </span></li>
                    <li style="float: left;"><span>
                        <i class="fas fa-phone"></i>
                        {{ user.userprofile.phone_number }}
                    </span></li>
                </ul>
            <div class="editprofile_btn">
            {% if user == request.user %}
                <div class="col-12">
                    <a href="" class="btn btn-sm col" style="float:right;">
                        Edit Profile
                    </a>
                </div>
            {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 picture-aside">
            <form  method='POST' enctype="multipart/form-data" class="new_story_form tab-full end">
            {% csrf_token %}
                <fieldset>

                    <div>
                        <input name="username" id="id_username" class="full-width new_story_input" value="{{ user.username }}" type="text">
                    </div>
                    <div>
                        <input name="first_name" id="id_first_name" class="full-width new_story_input" value="{{ user.first_name }}" type="text">
                    </div>
                    <div>
                        <input name="last_name" id="id_last_name" class="full-width new_story_input" value="{{ user.last_name }}" type="text">
                    </div>
                    <div>
                        <input name="bio" id="id_bio" class="full-width new_story_input" value="{{ user.userprofile.bio }}" type="text">
                    </div>
                    <div>
                        <input name="email" id="id_email" class="full-width new_story_input" value="{{ user.email }}" type="email">
                    </div>
                    <div>
                        <input name="phone_number" id="id_phone_number" class="full-width new_story_input" value="{{ user.userprofile.phone_number }}" type="text">
                    </div>
                    <div>
                        <input name="nationality" id="id_nationality" class="full-width new_story_input" value="{{ user.userprofile.nationality }}" type="text">
                    </div>
                    <div>
                        <input name="profile_pic" id="id_profile_pic" class="full-width new_story_input" type="file">
                    </div>
                    <!--hidden fields to retrieve image croipping properties-->
                    <input type="hidden" name="x" step="any" id="id_x">
                    <input type="hidden" name="y" step="any" id="id_y">
                    <input type="hidden" name="width" step="any" id="id_width">
                    <input type="hidden" name="height" step="any" id="id_height"> 
                    

                    <button type="submit" class="submit btn btn--small">Submit</button>

                </fieldset>

                 <!-- MODAL TO CROP THE IMAGE -->
                <div class="modal fade" id="modalCrop">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-body">
                        <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group pull-left" role="group">
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
                    </div>
                    </div>
                </div>
                </div> 

            </form> 
        </div>
    </section> <!-- end s-extra -->



{% endblock content %}

{% block javascript %}
<script>
        $("#id_profile_pic").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);

                var $image = $("#image");

                var cropBoxData;
                var canvasData;
                $("#modalCrop").on("shown.bs.modal", function () {
                    $image.cropper({
                        viewMode: 1,
                        aspectRatio: 1/1,
                        minCropBoxWidth: 200,
                        minCropBoxHeight: 200,
                        ready: function () {
                        $image.cropper("setCanvasData", canvasData);
                        $image.cropper("setCropBoxData", cropBoxData);
                        }
                    });
                }).on("hidden.bs.modal", function () {
                    cropBoxData = $image.cropper("getCropBoxData");
                    canvasData = $image.cropper("getCanvasData");
                    $image.cropper("destroy");
                    });

                $(".js-crop-and-upload").click(function () {
                    var cropData = $image.cropper("getData");
                    $("#id_x").val(cropData["x"]);
                    $("#id_y").val(cropData["y"]);
                    $("#id_height").val(cropData["height"]);
                    $("#id_width").val(cropData["width"]);
                    //$("#formUpload").submit();
                    $('#modalCrop').modal('hide')
            });
        }
    });
    </script> 
    <script type="text/javascript" src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535125/static/js/bootstrap.min_l4vp3g.js" ></script>
    <script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535125/static/js/cropper.min_hiyuox.js"></script>
{% endblock %}
