{% extends 'base.html' %}

{% block headerlinks %}
    <link rel="stylesheet" href="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588534997/static/css/bootstrap.min_sq8nsp.css">
    <script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535126/static/js/jquery-3.1.1.min_fbslvu.js"></script>
    <script src="https://res.cloudinary.com/people-shaping-people/raw/upload/v1588535125/static/js/bootstrap.min_l4vp3g.js"></script>
{% endblock %}

{% block style %}
.about-title{
    padding-bottom: 0px;
}
.s-content{
    background-color: white;
}
.hr{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
{% endblock %}

{% block content %}


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow" style="padding-top: 80px;">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="tracking-in-expand-fwd">About "People Shaping People" </h1>
            </div>
        </div>

        <div class="row">
            <div>
                <p>
                <p class="lead">
                        To build the world, you need nations; to build communities you need people and to build people, you need friends. 
                        Friendship has a huge impact in the well being many people virtually more than anything. Having social connects and interactions
                        improve lives and are even tied to longevity. Friendship transcends the click of a button to ‘add friends’ on a social media network. 
                        Our most powerful connections are the ones we stay in touch with in the real world. 
                </p>
            </div>
            <div class="col-twelve">
            <div class="row">

                <h3 style="margin-top:3rem;">The Book</h3>
                <img class="col-six scale-up-center" src="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616940318/static/Atomen_PSP_COVER_x8_rucjcy.jpg" 
                    
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="" style="padding-left: 0px;padding-bottom: 20px">
                <p>
                To build the world, you need nations; to build communities you need people. The human relationship has a huge impact on the well-being of all people virtually more than anything. Having social contacts and interactions improves lives and even increases longevity. Our most powerful connections are the ones we stay in touch with, in the real world. This book is a captivating, interesting and appealing narrative; it is a memoir that is based on personal reflections of various experiences between the author and many great people, events, and places. The author pulls together over one hundred and twenty (120) real-life untold stories of various personalities amongst us through memories of true-life experiences and insights thereby exploring relationships thoughtfully and engagingly.
                
                </p>
            </div>
                <hr class="hr">

            <div class="row block-1-2 block-tab-full">
                <div class="col-block">
                    <h4 class="quarter-top-margin">The Vision.</h4>
                    <p>
                        To have a generation of people who are positively inspired, mentored and influenced towards personal discovery, 
                        growth and commuity developments through the restoration of personal, 
                        family, and societal values in life's various experiences.
                    </p>    
                    
                    <h4 class="quarter-top-margin">Why "People Shaping People"</h4>
                    <p>To offer you a unique and valuable outlook on friendship, and redefine the true meaning and worth of human relationships.</p>
                </div>
                
                <div class="col-block">
                    <h4 class="quarter-top-margin">The Mission.</h4>
                    <ol>
                        <li>Socially connect thousands of people and positively transform its readers.  </li>
                        <li>Make a great difference by broadening the reader’s perspectives on the positive influence and its benefits in relationships.</li>
                        <li>Connect the past, present and future experiences by passing information, wisdom and knowledge to others. </li>
                        <li>Awaken present and future generations of their spiritual and earthly potentials.</li>
                        <li>Reaffirm the readers’ core values and induce a sense of well-being.</li>
                        <li>Be a legacy of positive accomplishments and reference for generations to come.</li>
                    </ol>
                </div>
                </div>
            </div> <!-- s-content__main -->
        </div> <!-- end row -->
    </div> <!-- s-content__main -->
</div> <!-- end row -->
        <div class="row">
                <h3 style="margin-top:3rem;">Author</h3>
                <img class="col-six scale-up-center" src="https://res.cloudinary.com/people-shaping-people/image/upload/v1580744585/About/about-1000_j5tueb.jpg" 
                    
                     sizes="(max-width: 2000px) 100vw, 2000px" alt="" style="padding-left: 0px;">
                <p>
                Atomen Edom was born in Jos on the 24th of April 1980. He hails from Nasarawa State and is Eggon by tribe. 
                He attended Police Children School in Jos, graduated in 1991 and completed his secondary school education at 
                Government Science School, Kuru in Plateau State in 1997. He obtained a Bachelor of Science degree in 2004 and a 
                Master of Science degree in 2008 in Architecture with MPHIL/PH.D Architecture (in view) from the prestigious 
                University of Jos, Plateau State, Nigeria. 
                
                </p>
        <div>

        <div class="col-12" style="margin-top: 6rem;">
            <h4 class="quarter-top-margin">Image Gallary</h4>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616941897/static/Screenshot_2021-03-22-11-24-44_dm7qzq.png" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616941897/static/Screenshot_2021-03-22-11-24-44_dm7qzq.png" class="zoom img-fluid "  alt="">
            
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616941900/static/IMG_20180827_153821_nil9so.jpg"  class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616941900/static/IMG_20180827_153821_nil9so.jpg" class="zoom img-fluid"  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616941897/static/Atomen_PSP_T_shirt_1_wv5gd0.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616941897/static/Atomen_PSP_T_shirt_1_wv5gd0.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616942277/static/hands-5216585_1920_uyoear.jpg" class="fancybox" rel="ligthbox">
                <img  src="https://res.cloudinary.com/people-shaping-people941/image/upload/v1616942277/static/hands-5216585_1920_uyoear.jpg" class="zoom img-fluid "  alt="">
            </a>
        </div>


            
        

    </section> <!-- end s-content -->


    {% endblock content %}