{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}People Shaping People{% endblock %}</title>
    <meta name="description" content="Share Amazing Stories About Those That Have Shaped Your Life">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/animista.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome-all.min.css' %}">
    
    {% block headerlinks %}{% endblock %}
    
</head>

<style>
.signup_icon{
    float: right;
    right: 10px;
    padding-top: 20px;
    padding-right: 5px;
    color: black;
}
.nav-link{
    right: 10px;
}
.header__search-trigger-authenticated {
    right: 90px;
}

@media only screen and (max-width: 900px){
.search-trigger-mod {
    right: 90px;
}
}
.message_icn{
    color: blue;
    float: right;
    right:55px;
    position: relative;
    margin-top: 25px;
}
.message_notification_icn{
    float: right;
    right:55px;
    position: relative;
    margin-top: 25px;
}
.badgee:after {
    content: "{{ request.user.userprofile.unread_messages.count }}";
    position: absolute;
    background: rgb(234, 52, 52);
    height: 2rem;
    top: 1.3rem;
    right: 5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid #e24444;
    z-index: 2;
}

{% block style %}{% endblock %}
</style>

<body id="top">
    {% block body %}
    <!-- for Facebook share button -->
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
    <!--end of facebook share button plugins-->

    <!-- header -->
    {% include 'partials/messages.html' %}
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'images/ppp.png' %}" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->
        

        <!--message icon for navbar-->
        {% if user.is_authenticated %}
            {% if request.user.userprofile.unread_messages.count > 0 %}
                <a href="{% url 'message_url' %}" class="message-icon"><span class="badgee"></span> <i class="fas fa-envelope message_icn "></i> </a>
            {% else %}
                <a href="{% url 'message_url' %}" class="message-icon"></span> <i class="fas fa-envelope message_icn "></i> </a>
            {% endif %}            

        {% else %}
        {% endif %}
        <!--end of message icon-->

        {% if user.is_authenticated %} 
        <span class="dropdown">
            {% if request.user.userprofile.profile_pic_url %}
            <a onclick="myDropdown()" class="navbar-profile-pic nav-link " data-toggle="dropdown" id="profileDropdown" aria-expanded="true">
                <img class="avatar nav-avatar dropbtn" style="border-radius: 50%;vertical-align: middle;margin-top: 10px;" src="{{ request.user.userprofile.profile_pic_url }}" alt="image" >
            </a>

            {% else %}
            <a onclick="myDropdown()" class="navbar-profile-pic nav-link " data-toggle="dropdown" id="profileDropdown" aria-expanded="true">
                 <img class="avatar nav-avatar dropbtn" style="border-radius: 50%;vertical-align: middle;margin-top: 10px;" src="https://res.cloudinary.com/people-shaping-people/image/upload/v1581157209/Default%20Images/head-659651_1920_tfjm1i.png" alt="image" >
            </a>
        {% endif %}
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'create_story' %}" class="dropdown-anchor">New Story</a>
                <a href="{% url 'my_stories' %}" class="dropdown-anchor">My Stories</a>
                <a href="{% url 'myprofile' request.user.pk %}" class="dropdown-anchor">Profile</a>
                <a href="{% url 'logout' %}" class="dropdown-anchor">Sign out</a>
            </div>
        </span>
        <a class="header__search-trigger header__search-trigger-authenticated" href="#0"></a>
        {% else %}
            <a href="{% url 'login' %}" class="navbar-profile-pic login-txt"  style="right:49px;">
                 <p style="vertical-align: middle; margin-top: 20px;" >Login</p>
            </a>
            <a href="{% url 'signup' %}">
                <i class="fas fa-user-plus signup_icon"></i>
            </a>
         
        <a class="header__search-trigger search-trigger-mod" href="#0"></a>
        {% endif %}

        <div class="header__search">
            <form role="search" method="get" class="header__search-form" action="{% url 'search_results' %}">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="q" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
            

            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

        </div>  <!-- end header__search -->
        
        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>

            <ul class="header__nav">
                <li class="current"><a href="{% url 'home' %}" title="">Home</a></li>
                <li class="has-children">
                    <a href="#0" title="">Explore</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'explore' %}">Popular Stories</a></li>
                        <li><a href="{% url 'top_authors' %}">Top Authors</a></li>
                    </ul>
                </li>

                {% if user.is_admin %}
                    <li><a href="{% url 'unpublished_dashboard' %}" title="">Dashboard</a></li>
                    <li><a href="{% url 'admin_signup' %}" title="">New Admin</a></li>
                {% endif %}

                <li><a href="{% url 'about' %}" title="">About</a></li>
                <li><a href="{% url 'contact' %}" title="">Contact</a></li>
                
                    

            </ul> <!-- end header__nav -->

            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->

    <!-- main content -->
      {% block content %}

      {% endblock content %}
      
    <!-- end of main content -->


    


    <!-- s-footer
    ================================================== -->
    <footer class="s-footer" style="padding-top: 80px;padding-bottom: 20px;">

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six tab-full s-footer__about"> 
                    <h4>About PEOPLE SHAPING PEOPLE</h4>

                    <p>Our most powerful connections are the ones we stay in touch with in the real world. </p>

                    <div class="col-six" style="padding-left: 0px;">
                        <ul class="footer-social">
                            <li>
                                <a><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a ><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <br>


                </div> <!-- end s-footer__about -->
            
                <div>
                        <div class="s-footer__copyright">
                            <span>
                                &copy; 2020 
                            </span>
                            <span><a href="{% url 'about' %}" title="">About Us</a></span>
                            <span><a href="{% url 'contact' %}" title="">Contact Us</a></span>
                        </div>
                    </div>
                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"></a>
                </div>

            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->

    {% endblock body %}


    <!-- Java Script
    ================================================== -->

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    {% block javascript %}{% endblock javascript %}
    <script>
    $('.message-icon').click(function(e){ 
        $('.badgee').hide()
    });
        
    </script>
    {% block like_btn_script %}
        <script type="text/javascript"> 
            $('.like_btn').click(function(e){ 
                e.preventDefault();
                var this_ = $(this)
                var story_id = this_.attr("story-id");
                var LikeCount = parseInt(this_.attr("like-count")) ;
                var LikeUrl = this_.attr("data-href")

                $.ajax({
                    url: LikeUrl,
                    method: "GET",
                    data: {
                        "story_id":story_id,
                        "LikeCount":LikeCount,
                    },

                    success: function(data){
                        console.log(data)
                        if (data.liked){
                            LikeCount = data.NewLikes;
                            pk = story_id
                            $(".likecount_span_" + pk).text(LikeCount);
                            console.log(LikeCount);
                        } else {
                            LikeCount = data.NewLikes;
                            $(".likecount_span_" + pk).text(LikeCount);
                            console.log(LikeCount);
                        }
                    }
                })
            })
        </script>
    {% endblock like_btn_script %}
    
</body>

</html>