{% extends 'base.html' %}
{% load static %}


{% block headerlinks %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}


{% block style %}
.contact-title{
    padding-bottom: 0px;
    margin-top: 30px;
}
.contact-input{
    background: #F2F3F5;
}
.s-content{
    background-color: white;
}
input{
    padding:10px;
}
{% endblock %}


{% block content %}


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep contact-title col-twelve tracking-in-expand-fwd">Contact Us.</h1>

            </div>
        </div>

        <div class="row">
            <div class="col-full s-content__main">

 

                <div class="row">
                    <div class="col-six tab-full">
                        <h4>Where to Find Us</h4>

                        <p>
                         No 57, 11th avenue, federal low-cost Jos, plateau state<br>
                        930 NG
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h4>Contact Info</h4>

                        <p>peopleshapingpeople@gmail.com<br>
                        edomatomen@gmail.com <br>
                        Phone: (+234) 7038473653
                        </p>

                    </div>
                </div>

                <h4>Get In Touch</h4>

                <form method="POST">
                {% csrf_token %}
                    <fieldset>

                        <div>
                            <input name="name" id="id_name" class="full-width contact-input" placeholder="your name" value="" type="text">
                        </div>

                        <div class="form-field">
                            <input name="from_email" id="id_from_email" class="full-width contact-input" placeholder="abcd@gmail.com" value="" type="email">
                        </div>

                        <div class="message form-field">
                            <textarea name="message" id="id_message" class="full-width contact-input" placeholder="Your Message"></textarea>
                        </div>

                        <button type="submit" class="submit btn btn--primary btn--large full-width">Send Message</button>

                    </fieldset>
                </form>

            </div> <!-- s-content__main -->
        </div> <!-- end row -->

    </section> <!-- end s-content -->



{% endblock content %}

{%block javascript%}
<script type="text/javascript">
    $(document).ready(function(){
      $('.your-class').slick({
        setting-name: setting-value
      });
    });
  </script>

<script type="text/javascript" src="{% static 'slick/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'slick/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
				
{% endblock %}