{% extends 'dashboard.html' %}
{% load static %}

{% block extended-dashboard %}
    
<h3 style="margin-top: 1.8rem;color: #627c63;font-weight:normal;" class="">Denied Stories</h3>
    <div class="table-responsive">
        <table class="table table-responsive table-responsive-xl " style="display: table;">
        <thead class="thead-inverse">
            <tr>
            <th>S/N</th>
            <th>Name</th>                          
            <th>Author</th>
            </tr>
        </thead>
        
            
        </table> 
    </div>
        
    {% endblock extended-dashboard %}