{% extends 'base.html' %}
{% load static %}

{% block style %}
.article_image{
    height: 300px;
    width: 100%;
}
{% endblock %}

{% block content %}

<!-- featured 
    ================================================== -->
    <section class="s-featured ">
        <div class="row">
            <div class="col-full">

                <div class="featured-slider" data-aos="zoom-in">

                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background" style="background-image:url('https://res.cloudinary.com/people-shaping-people/image/upload/v1582358960/Hero/featured-guitarman_ezwtvi.jpg');"></div>
                            
                            <div class="entry__content" style="vertical-align: inherit;    z-index: 0;">

                                <h1><a  title="">Friendship </a></h1>

                               
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry" style="background-color:black;">

                            <div class="entry__background" style="background-image:url('https://res.cloudinary.com/people-shaping-people/image/upload/v1582358718/Hero/featured-watch_fnyuxb.jpg');"></div>
                            
                            <div class="entry__content">
                                <span class="entry__category"><a>The Art</a></span>

                                <h1><a href="#0" title="">"A single rose can be my garden… a single friend, my world".</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatar/face2.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a>Leo Buscaglia</a></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->

                    <div class="featured__slide">

                        <div class="entry">

                            <div class="entry__background" style="background-image:url('https://res.cloudinary.com/people-shaping-people/image/upload/v1582358718/Hero/featured-beetle_oitqou.jpg');"></div>

                            <div class="entry__content">
                                <span class="entry__category"><a>LifeStyle</a></span>

                                <h1><a href="#0" title=""> Celebrate True Friendship Today, In a Special Form. "Write something beautiful" </a></h1>

                                <div class="entry__info">
                                    <a class="entry__profile-pic">
                                        <img class="avatar" src="{% static 'images/avatar/face1.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a>Atomen Edom</a></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__slide -->
                    
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div>
    </section> <!-- end s-featured -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">
        
        <div class="row entries-wrap wide">
            <div class="entries">

            {% for story in my_stories  %}
            <article class="col-block">  
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="{% url 'story_detail' story.pk %}" class="item-entry__thumb-link">
                                <img src="{{ story.image_url }}" class='article_image'
                                        srcset="{{ story.image_url }}" alt="">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                
                                <a>
                                    {{ story.views }}
                                    <img src="{% static 'images/icons/iconfinder.png' %}" alt="image">
                                </a>
                                <a class="like_btn" data-href="{% url 'like' story.pk %}" requestuser-id="{{ request.user.pk }}"
                                    story-id="{{ story.pk }}" like-count='{{ story.likes.count }}'>
                                    <span class="likecount_span_{{story.pk}}">{{ story.likes.count }}</span>
                                    <img src="{% static 'images/icons/iconfinder_like.png' %}" alt="image">
                                </a>
                            </div>

                            <h1 class="item-entry__title"><a href="{% url 'story_detail' story.pk %}">{{ story.full_name }}</a></h1>
                            <ul class="entry__header-meta story_detail_date">
                                <li class="byline">
                                    By
                                    <a href="{% url 'myprofile' story.author.pk %}">{{ story.author }}</a>
                                </li>
                            </ul>
                             
                            <div class="item-entry__date">
                                <a>{{ story.last_updated }}</a>
                            </div>
                        </div>
                    </div> 
                </article>
            {% endfor %}

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

<div class="row pagination-wrap">
    <div class="col-full">
        <nav class="pgn" data-aos="fade-up">

            {% if my_stories.has_other_pages %}
            <ul>
                {% if my_stories.has_previous %}
                    <li><a class="pgn__prev" href="?page={{ my_stories.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled pgn__prev"><span>&laquo;</span></li>
                {% endif %}

                {% for i in my_stories.paginator.page_range %}
                {% if my_stories.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if my_stories.has_next %}
                <li><a class="disabled pgn__next" href="?page={{ my_stories.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled pgn__next"><span>&raquo;</span></li>
                {% endif %}

            </ul>
            {% endif %}
        </nav>
    </div>
</div>

    </section> <!-- end s-content -->

    {% endblock content %}
