{% extends 'dashboard.html' %}

{% block extended-dashboard %}
    
        <h3 style="margin-top: 1.8rem;color: #627c63;font-weight:normal;font-size:2rem;" class="">Unpublished Stories</h3>
        <div class="table-responsive">
        <table class="table " style="display: table;">
            <thead class="thead-inverse">
                <tr>
                <th>Story No</th>
                <th>Name</th>                          
                <th>Author</th>
                <th>Publish</th>
                <th>Deny</th>
                </tr>
            </thead>
            <tbody>
            {% for story in unpublished_stories  %}

            <tr class = "row_{{ story.pk }}">
                <td>{{ story.pk }}</td>
                <td><a href="{% url 'story_detail' story.pk %}" style="color:#607d8b7d;">{{ story.full_name }}</a></td>
                <td><a href="{% url 'myprofile' story.author.pk %}" style="color:#607d8b7d;">{{ story.author }}</a></td>
                
                <td>
                        <!-- Publish button HTML -->
                        <span class="deny_btn_{{ story.pk}}">
                            <a class="btn btn-publish" role="button" data-toggle="modal" href="#myPublishModal_{{ story.pk }}">Publish</a>
                        </span>
                
                        <!-- Publish Modal HTML -->
                            <div id="myPublishModal_{{ story.pk }}" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p class="are_you_sure">Are you sure you want to publish this Story</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm modal-btn-cancel" data-dismiss="modal" >
                                                Cancel
                                            </button>
                                            <button type="button" class="btn btn-sm modal-btn-publish publish" id='publish_{{ story.pk }}' data_href="{% url 'publish' story.pk %}" data-dismiss="modal" story_pk="{{ story.pk }}">
                                                Confirm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </td>

                <td>
                    <!-- Deny button HTML -->

                    <span class="deny_btn_{{ story.pk}}">
                        <a class="btn btn-deny" role="button" data-toggle="modal" href="#myDenyModal_{{ story.pk }}">Deny</a>
                    </span>
                
                    <!-- DenyModal HTML -->
                        <div id="myDenyModal_{{ story.pk }}" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p class="are_you_sure">Are you sure you want to Reject this story</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm modal-btn-cancel" data-dismiss="modal" >
                                            Cancel
                                        </button>
                                        <button type="button" class="btn btn-sm modal-btn-publish deny" id='deny_{{ story.pk }}' data_href="{% url 'deny' story.pk %}" data-dismiss="modal" story_pk="{{ story.pk }}">
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

        </table>
        </div>
</div>
    
        
    {% endblock extended-dashboard %}

    


   