{% extends 'base.html' %}
{% load static %}

{% block headerlinks %}
    <link rel="stylesheet" href="{% static 'css/simplemde.css' %}">
{% endblock %}

{% block style %}
.new_story_form{
    margin-top: 30px;
}
.new_story_input{
    margin-bottom: 10px;
}
{% endblock %}


{% block content %}
<section class="s-content">
    <div class="row entries-wrap wide">


    <form  method='POST' enctype="multipart/form-data" class="new_story_form col-ten md-ten tab-full end">
    {% csrf_token %}
        <fieldset>

            <div>
                <input name="full_name" id="id_full_name" class="full-width new_story_input" placeholder="your Full Name" value="" type="text">
            </div>

            <div class="message form-field">
                <input name="image" id="id_image" class="full-width new_story_input" accept="image/*" type="file">
            </div>

            <div class="form-field">
                <input name="story_caption" id="id_story_caption" class="full-width new_story_input" placeholder="a sentence to describe your Story" value="" type="text">
            </div>

            <div class="message form-field">
                <textarea name="story" id="id_story" class="full-width new_story_input" placeholder="Your Message"></textarea>
            </div>

            <button type="submit" class="submit btn btn--large full-width">Send Message</button>

        </fieldset>
    </form> 

    </div>
</section>

{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/simplemde.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}