{% extends 'base.html' %}

{% block style %}
.article_image{
    height: 300px;
    width: 100%;
}
@media only screen and (max-width: 400px){
.s-content{
    padding-top: 50px;
}
.s-content__header{
    margin-bottom: 10px;
}
}

{% endblock %}


{% block content %}
<section class="s-content">
    <div class="row entries-wrap wide">

        <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding" >

        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="display-1 display-1--with-line-sep ">Your Stories</h1>
                <a href="{% url 'create_story' %}" class="btn btn-primary col-lg-3 col-md-3 col-sm-3 col-xs-8" style="float:right;">
                    Write Story
                </a>
            </div>
        </div>
        
        
        <div class="row entries-wrap add-top-padding wide">
            <div class="entries">

            {% for story in my_stories  %}
                <article class="col-block">  
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <a href="{% url 'story_detail' story.pk %}" class="item-entry__thumb-link">
                                <img src="{{ story.image_url }}" class='article_image'
                                        srcset="{{ story.image_url }}" alt="image">
                            </a>
                        </div>
        
                        <div class="item-entry__text">
                            <div class="item-entry__cat">
                                
                                <a>
                                    {{ story.views }}
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="like_btn" data-href="{% url 'like' story.pk %}" requestuser-id="{{ request.user.pk }}"
                                    story-id="{{ story.pk }}" like-count='{{ story.likes.count }}'>
                                    <span class="likecount_span_{{story.pk}}">{{ story.likes.count }}</span>
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                                <a href="{% url 'story_delete_confirm' story.pk %}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                {% if story.published == True %}
                                    <span >
                                        <p style="font-size: 2rem;margin-bottom: 0px;display: inline;color: #1877f2;"><i class="fas fa-check"></i>Approved</p>
                                    </span>
                                {% else %}
                                    <span >
                                        <p style="font-size: 2rem;margin-bottom: 0px;display: inline;color: #1877f2;"><i class="fas fa-check"></i>Pending</p>
                                    </span>
                                {% endif %}
                            </div>

                            <h1 class="item-entry__title"><a href="{% url 'story_detail' story.pk %}">{{ story.full_name }}</a></h1>
                            
                             
                            <div class="item-entry__date">
                                <a>{{ story.last_updated }}</a>
                            </div>
                        </div>
                    </div> 
                </article>
            {% endfor %}

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->

<div class="row pagination-wrap">
    <div class="col-full">
        <nav class="pgn" data-aos="fade-up">

            {% if my_stories.has_other_pages %}
            <ul>
                {% if my_stories.has_previous %}
                    <li><a class="pgn__prev" href="?page={{ my_stories.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled pgn__prev"><span>&laquo;</span></li>
                {% endif %}

                {% for i in my_stories.paginator.page_range %}
                {% if my_stories.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if my_stories.has_next %}
                <li><a class="disabled pgn__next" href="?page={{ my_stories.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled pgn__next"><span>&raquo;</span></li>
                {% endif %}

            </ul>
            {% endif %}
        </nav>
    </div>
</div>

    </section> <!-- end s-content -->

    </div>
</section>

{% endblock content %}

