{% extends 'base.html' %}
{% load static %}

{% block headerlinks %}
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
{% endblock %}


{% block style %}

.article_class{
    margin-top: 50px;
}

.story_detail_article{
    margin-left: 70px;
    margin-right: 70px;
}

.story_detail_title{
    float: left;
    font-weight: 50;
    color: slategrey;
    margin-bottom: 0px;
}

.story_detail_date{
    float: left;
}
.main_story{
    float: right;
}
.sideelement{
    float: left;
    padding-top: 10px;
}
.story_detail_text{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.667;
    margin-bottom: 0.6rem;
    color: #000000;
}
.posted_by_section{
    border: solid rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}
.story_detail_image{
    padding-right: 0px;
    padding-left: 0px;
}
.story_detail_comment{
    margin-left: auto;
    margin-right: auto;
}
.story_detail_comment_input{
    margin-left: auto;
    margin-right: auto;
}

{% endblock %}


{% block content %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="entry format-standard article_class story_detail_article">
            

            <div class="entry__media col-lg-4 col-md-4 col-sm-4 col-xs-8 story_detail_image">
                <div class="entry__post-thumb">
                    <img src="{{ story.image.url}}" alt="">
                    <span class="sideelement">
                        500 likes and views
                    </span>
                </div>
            </div>


            <div class="entry__header col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <h1 class="entry__header-title display-1 my_story_title story_detail_title" 
                style="margin-bottom: 0px;">
                    {{ story.full_name }}
                </h1>
                    <div class="col-4 col-xs-12 s-content__header" data-aos="fade-up" style="float: right;">
                        <a href="{% url 'create_story' %}" class="btn btn-primary" style="float:right;">
                            Edit Story
                        </a>
                    </div>


                <hr>
                <ul class="entry__header-meta story_detail_date">
                    <li class="date">{{ story.last_updated }}</li>
                    <li class="byline">
                        By
                        <a href="#0">{{ story.author }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <ul class="footer-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>

            <div class="story_detail_text col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <blockquote><p style="font-size: 1.7rem;">
                    {{ story.story_caption }}
                </p></blockquote>
            </div>

            <div class="main_story entry__main col-lg-8 col-md-8 col-sm-8 col-xs-8 " 
                style="margin-top: 0px; padding-bottom: 60px;">

                <h3 style="margin-top: 30px;color: #708090;">who is {{ story.full_name }}?</h3>

                <p class="story_detail_text">{{ story.get_story_as_markdown }}</p>
            </div>


        <div class="entry__author posted_by_section col-lg-4 col-md-4 col-sm-4 col-xs-12">
        {% if story.author.userprofile.profile_pic %}
            <img src="{{ story.author.userprofile.profile_pic.url }}" alt="">
        {% endif %}

            <div class="entry__author-about">
                <h5 class="entry__author-name">
                    <span>Posted by</span>
                    <a href="#0">{{ story.author.first_name }} {{ story.author.last_name }}</a>
                </h5>

                <div class="entry__author-desc">
                {% if story.author.userprofile.bio %}
                    <p>
                    {{ story.author.userprofile.bio }}
                    </p>
                {% endif %}
                </div>
            </div>
        </div>

        </div> <!-- s-entry__main -->

        </article> <!-- end entry/article -->
        <hr>



        <div class="comments-wrap ">

            <div id="comments" class="row story_detail_comment">
                <div class="col-full">

                {% if story.comments.count %}
                    <h3 class="h2">{{ story.comments.count }} Comments </h3>

                    <!-- START commentlist -->
                    <ol class="commentlist">

                        {% for comment in story.comments.all %}
                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img class="avatar" src="{{ comment.comment_author.userprofile.profile_pic.url }}" alt="" width="50" height="50">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <div class="comment__author">{{ comment.comment_author }} </div>

                                    <div class="comment__meta">
                                        <div class="comment__time">{{ comment.comment_date }}</div>
                                        <div class="comment__reply">
                                            <a class="comment-reply-link" href="#0">Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>{{ comment.comment_content }}</p>
                                </div>

                            </div>

                        </li> <!-- end comment level 1 -->
                        {% endfor %}
                {% else %}
                <p>No Comment</p>
                {% endif %}


                    </ol>
                    <!-- END commentlist -->           

                </div> <!-- end col-full -->
            </div> <!-- end comments -->

            <div class="row comment-respond story_detail_comment_input">

                <!-- START respond -->
                <div id="respond" class="col-full">

                    <h3 class="h2">Add Comment <span>Your email address will not be published</span></h3>

                    <form method="POST" name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                    {% csrf_token %}

                            <div class="message form-field">
                                <textarea name="comment_content" id="id_comment_content" class="full-width" placeholder="Your Message*" required></textarea>
                            </div>

                            <input name="submit" id="submit" class="btn btn-wide btn--large full-width" value="Add Comment" type="submit">

                    </form> <!-- end form -->

                            <table class="table col-12">

                            </table>
                          


                </div>
                <!-- END respond-->

            </div> <!-- end comment-respond -->

        </div> <!-- end comments-wrap -->

    </section> <!-- end s-content -->


    <!-- s-extra
    ================================================== -->
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popular Stories</h3>

                <div class="block-1-2 block-m-full popular__posts">

                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Categories</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Lifestyle</a></li>
                            <li><a href="#0">Travel</a></li>
                            <li><a href="#0">Recipes</a></li>
                            <li><a href="#0">Management</a></li>
                            <li><a href="#0">Health</a></li>
                            <li><a href="#0">Creativity</a></li>
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Links</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Home</a></li>
                            <li><a href="#0">Blog</a></li>
                            <li><a href="#0">Styles</a></li>
                            <li><a href="#0">About</a></li>
                            <li><a href="#0">Contact</a></li>
                            <li><a href="#0">Privacy Policy</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->

    </section> <!-- end s-extra -->

{% endblock content %}