{% extends 'registration/login.html' %}
{% load static %}


{% block style %}
    <style>
        .reset_paragraph{
            padding: 20px;
            color: darkgrey;
        }
        .confirm_btn{
            margin: 20px;
            margin-top: 10px;
            margin-right: 2px;
        }
        .login100-form-title{
            padding-bottom: 30px;
            padding-top: 30px;
        }
    </style>
{% endblock %}


{% block boxtitle %}
    Confirm Delete
{% endblock %}

{% block boxcontent %}
    
    <form  method="post">
        {% csrf_token %}
        <h5 class="reset_paragraph">  Are you sure you want to delete this story?  </h5>

        <button  type="submit" class="confirm_btn btn "style="border: 1px solid red;color: red; margin-top: 20px;">
        Confirm
        </button>
        <a href="{{ view.get_success_url }}" class="btn"
        style="border: 1px solid rgba(3, 168, 124, 1);color: rgba(3, 168, 124, 1);">
        Cancel
        </a>
    </form>

{% endblock %}